<div class = "container">
<h1>How many days do you want to book this board ?</h1>
  <div> 
    <%= @board.name %>
    <%= @board.description %>
    <%= @board.price %> €
    <img src= "<%= @board.images %>">
    <%= @user %> user here
  </div>

    <div class = "cards">
    <%= simple_form_for [ @board, @booking ] do |f| %>
    <%= f.input :start_at %>
    <%= f.input :end_at %>
    <%= f.submit "Book your board", class: "btn btn-primary" %>
    <% end %>
    </div>

</div>
