<div class="container">
<div style="margin: 20px"></div>
<h1>Les Boards</h1>
<p><%= link_to '+ Ajoute une planche à louer', new_board_path, class: 'btn btn-flat' %></p>

  <% @boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <div class="card-product">
        <%= image_tag board.images %>
        <div class="card-product-infos">
          <h2><%= board.name %></h2>
          <p><%= board.description %></p>
          <p><%= board.price %>€</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <div style="margin: 50px"></div>
</div>

