<h3 class="text-center">Recherche la planche de tes rêves</h3>
<div class="container">
<%= form_tag boards_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Trouve une planche"
  %>
  <%= submit_tag "Search", class: "btn-holyboard" %>
<% end %>
</div>

<div style="margin: 20px"></div>

<div class="container-index">
  <div class="all-cards">
      <% @boards.each do |board| %>
        <div class="card">
          <%= link_to board_path(board), class: 'link' do %>
              <%= image_tag board.images, :class => 'card-img-top' %>
              <h5 class="card-title"><%= board.name %></h5>
              <% if board.dispo %>
              <p>C'est dispo mec!</p>
              <% else %>
              <p>C'est pas dispo mec!</p>
              <% end %>
              <p class="card-text"><%= board.description %></p>
              <p class="card-price"><%= board.price %>€</p>
              <% if board.user == current_user %>
                <%= link_to board_path(board), method: :delete, data: { confirm: 'Tu veux supprimer ta board ?' }, class: 'card-remove-link' do %>
                <i class="fas fa-times" style="color: grey"></i>
                <%end%>
                <%= link_to edit_board_path(board), class: "card-edit-link" do %>
                <i class="fas fa-edit" style="color: grey"></i>
                <%end%>
              <%end%>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="map-index" id="map"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


  <div style="margin: 50px"></div>

