<div class="container">
  <div style="margin: 50px"></div>

  <h1>Add a new board</h1>

  <%= simple_form_for @board do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :images %>
    <%= f.submit class: 'btn btn-secondary' %>
  <% end %>

  <div style="margin: 50px"></div>

</div>
