<div class="container">
  <div style="margin: 50px"></div>

  <h1>Add a new board</h1>

  <%= simple_form_for @board do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category, collection: ['Surf', 'Snow', 'Skate'] %>
    <%= f.input :address, id: 'board_address' %>
    <%= f.input :images, placeholder: 'Entrez une url' %>
    <%= f.submit class: 'btn-holyboard' %>
  <% end %>

  <div style="margin: 50px"></div>

</div>
