<div class="container">
  <h1><%= @board.name %></h1>
  <p><%= @board.description %></p>
  <p><%= @board.price %></p>

  <div><%= link_to '< Boards', boards_path, class: 'btn btn-flat' %></div>
  <div><%= link_to 'I want this awesome board!', new_board_booking_path(@board), class: 'btn btn-flat' %></div>

</div>
