<body >
<div class="container">
  <div style="margin: 50px"></div>

<div class="row">
<div class="col-lg-6">
  <h1>Mes demandes :</h1>
  <% @user.bookings.each do |booking| %>
    <div class="card" style="width: 18rem;">
    <%= @user.firstname %> <%= @user.lastname %>
    <%= image_tag booking.board.images, alt: "image", width: 100 %>
    <div class="card-body">
      <p class="card-text">Ma board : <%= booking.board.name %></p>
      <p class="card-text"><%= booking.board.description %></p>
      </div>
      <p class="btn btn-info">Statut de ma demande effectuée : <%= booking.state %></p>
    </div>
  <% end %>
</div>

  <div class="col-lg-6">
  <h1>Mes locations :</h1>
    <% @user.boards.each do |board| %>
      <% board.bookings.each do |booking| %>
      <div class="card" style="width: 18rem;">
      <%= @user.username %>
      <%= image_tag booking.board.images, alt: "image", width: 100 %>
      <div class="card-body">
        <p class="card-text">Ma board en location : <%= booking.board.name %>
        <p class="card-text"> Commande du : <%= booking.start_at %> au : <%= booking.end_at %>
        <p class="btn btn-light">Statut de ma demande reçue : <%= booking.state %>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>

  <div style="margin: 10px"></div>
  <%= link_to 'Retour sur les boards', boards_path, class: 'btn btn-secondary' %>
  </div>

  <div style="margin: 50px"></div>
</div>
</body>