<div class="container">

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active">
    <a class="nav-link" data-toggle="tab" href="#home">Profil</a>
  </li>
  <li>
    <a class="nav-link" data-toggle="tab" href="#menu1">Demandes de location sur mes boards</a>
  </li>
  <li>
    <a class="nav-link" data-toggle="tab" href="#menu2">Les boards que j'aimerai tester</a>
  </li>
</ul>
<!-- Fin Nav tabs -->

<!-- Nav tabs content-->
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <!-- Mon profil-->
    <div style="margin: 50px"></div>

    <div style="margin: 50px"></div>
  </div>

  <div id="menu1" class="tab-pane fade">
    <!-- Mes boards en demande de location -->
    <div style="margin: 50px"></div>
    <div class ="row">
      <% @user.boards.each do |board| %>
      <% board.bookings.each do |booking| %>
        <div class ="col-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=booking.board.images%>">
            <div class="card-body">
              <h5 class="card-title"><%= booking.board.name %></h5>
              <p class="card-text">Location du <%= booking.start_at.strftime("%d/%m/%Y") %> au <%= booking.end_at.strftime("%d/%m/%Y") %></p>
              <a class="btn btn-info">Statut de ma demande reçu : <%= booking.state %></a>
                <% if booking.state == "en attente" %>
                <div class = "bouton-choix">
                <p class="btn btn-success"><%= link_to "Valider", validated_path(booking), method: :patch %></p>
                <p class="btn btn-warning"><%= link_to "Refuser", declined_path(booking), method: :patch %></p>
                </div>
                <% else %>
                <% end %>

            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <div style="margin: 50px"></div>
  </div>

  <div id="menu2" class="tab-pane fade">
    <!-- Les boards que j'aimerai tester -->
    <div style="margin: 50px"></div>
      <% @user.bookings.each do |booking| %>
        <div class ="col-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=booking.board.images%>">
            <div class="card-body">
              <h5 class="card-title"><%= booking.board.name %></h5>
              <p class="card-text"><%= booking.board.description %></p>
              <a class="btn btn-info">Statut de ma demande effectuée : <%= booking.state %></a>
            </div>
          </div>
        </div>
        <% end %>
        <div style="margin: 50px"></div>
  </div>
</div>
<!-- Fin Nav tabs content-->

</div>
